@if (books) {
<ul>
  @for (book of books; track bookKey($index, book)) {
  <li>
    <div>
      <strong>{{ book.title }}</strong>
    </div>
    @if (book.subtitle) {
    <div>
      <i>{{ book.subtitle }}</i>
    </div>
    }
    <dl>
      <dt>Author</dt>
      @for (author of book.author_name; track author) {
      <dd>{{ author }}</dd>
      } @if (book.first_sentence) {
      <dt>First sentence</dt>
      @for (sentence of book.first_sentence; track sentence) {
      <dd>{{ sentence }}</dd>
      } }
      <dt>First published</dt>
      <dd>{{ book.first_publish_year }}</dd>
    </dl>
  </li>
  }
</ul>
}
