<ul *ngIf="books">
  <li *ngFor="let book of books; trackBy: bookKey">
    <div>
      <strong>{{ book.title }}</strong>
    </div>
    <div *ngIf="book.subtitle">
      <i>{{ book.subtitle }}</i>
    </div>
    <dl>
      <dt>Author</dt>
      <dd *ngFor="let author of book.author_name">{{ author }}</dd>
      <ng-container *ngIf="book.first_sentence">
        <dt>First sentence</dt>
        <dd *ngFor="let sentence of book.first_sentence">{{ sentence }}</dd>
      </ng-container>
      <dt>First published</dt>
      <dd>{{ book.first_publish_year }}</dd>
    </dl>
  </li>
</ul>
