<!--
  AsyncPipe the state observable into a dumb component.
  Particularly useful if there are several different requests to pass to the
  dumb component.
-->
<examples-basic-dumb
  [brewery]="(brewery$ | async)!"
  (reloadClick)="reload()"
></examples-basic-dumb>

<!--
  Alternatively, use *ngIf...as to destruct the state in the smart component and
  pass the properties of the state object to individual inputs of the dumb
  component:
-->
<!--
<examples-basic-dumb-alt
  *ngIf="brewery$ | async as brewery"
  [brewery]="brewery.value"
  [loading]="brewery.isLoading"
  [error]="brewery.error"
  (reloadClick)="reload()"
></examples-basic-dumb-alt>
-->
