<!--
  AsyncPipe the state observable into a dumb component.
  Particularly useful if there are several different requests to pass to the
  dumb component.
-->
<examples-basic-dumb
  [imageDetails]="imageDetails$ | async"
  (reloadClick)="loadNewImage$.next()"
></examples-basic-dumb>

<!--
  Alternatively, use *ngIf...as to destruct the state in the smart component and
  pass the properties of the state object to individual inputs of the dumb
  component:
-->
<!--
<examples-basic-dumb-alt
  *ngIf="imageDetails$ | async as imageDetails"
  [imageDetails]="imageDetails.value"
  [loading]="imageDetails.isLoading"
  [error]="imageDetails.error"
  (reloadClick)="loadNewImage$.next()"
></examples-basic-dumb-alt>
-->
