<h1>Split beers by brew date</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <fieldset>
    <legend>Brew date</legend>
    <select formControlName="month" title="Month">
      <option *ngFor="let monthOption of months">{{ monthOption }}</option>
    </select>
    <select formControlName="year" title="Year">
      <option *ngFor="let yearOption of years">{{ yearOption }}</option>
    </select>
    <button type="submit">Go</button>
  </fieldset>
</form>

<examples-spinner *ngIf="beers?.isLoading"></examples-spinner>

<examples-error *ngIf="beers?.error as error" [error]="error"></examples-error>

<div *ngIf="beers?.value as results" class="results">
  <section>
    <h2>Brewed before {{ results.month }}-{{ results.year }}</h2>
    <examples-beer-list [beers]="results.before"></examples-beer-list>
  </section>
  <section>
    <h2>Brewed after {{ results.month }}-{{ results.year }}</h2>
    <examples-beer-list [beers]="results.after"></examples-beer-list>
  </section>
</div>
